node_modules
.next
.DS_Store
build/
dist/
.jest-test-results.json
storybook-static/
gh-build/
.nyc_output/
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

.yalc/
yalc.lock

src/**/*.jsx
src/**/*.js.map
src/**/*.jsx.map
src/**/*.d.ts
.scannewwork/
.history

.eslintcache
.yo-rc.json.npmrc

tmp

cdn-dist